html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tdInputText {
    width: 30px;
    min-width: 20px;
}

.tableSizeChooser {
    border-collapse: separate;
}

.tdSizeChooser {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}