body, html {
    padding: 0;
    margin: 0;
}

body {

}

a, a:hover {
    text-decoration: none;
}

.header{
    background-color:#585B5B;
    height: 70px;
    line-height: 70px;
}

.title a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    float: left;
}

.title a:hover {
    color: #4BA4F6;
}

.menu {
    float: left;
    margin-left: 60px;
}

.menu a {
    color: white;
    margin-left: 20px;
}

.menu a:hover {
    color: #4BA4F6;
}
.logo {
    float: right;
    
}

.contenu {
    background-color: #CFD3D3;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 1300px;
    height: 550px;
}

.footer {
    background-color:#585B5B;
    height: 50px;
    line-height: 50px;
}

.test, .test2 {
    margin-top: 20px;
    margin-left: 10px;
}

.left {

    margin-top: 20px;
    margin-left: 20px;
}

.center, .right {
    margin-top: 20px; 
    margin-left: 10px;
}

.bold, .italic, .underline {
    margin-top: 20px;
}

.bold {
    margin-left: 30px;
}

table
{
    margin-left: 10px;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}

.largeur {
    margin-left: 10px;
    margin-top: 10px;
}

.bouton-largeur{
    margin-right: 10px;
}
.code-latex {
    margin-left: 10px;
    margin-top: 70px;
}

.zone {
    background-color: white;
    margin-top: 20px;
    width: 1250px;
    height: 200px;

}

.info {
    float: right;
    margin-top: 20px;
}

.font {
    margin-top: 20px;

}

.fusion {
    margin-left: 20px;
    margin-top: 20px;
}

.separer {
    margin-top: 20px;

}

.copier {
    margin-left: 5px;
}

.loading {
    margin-top: 80px;
    margin-left: 600px;
}